.DS_Store
build
build/
CLSDKTest_OC/Build
CLSDKTest_OC/Build/
CLSDKTest_OC/DerivedData
CLSDKTest_OC/DerivedData/
CLMSDK.xcworkspace/xcshareddata
CLMSDK.xcworkspace/xcuserdata
CLMSDK.xcworkspace/xcuserdata
CLMSDK.xcodeproj/xcuserdata
CLMSDK.xcodeproj/xcshareddata
CLMSDK.xcodeproj/project.pbxproj.bak
Logs/
ModuleCache.noindex/
corpsele_n.xcuserdatad
Build/Intermediates.noindex
CLSDK.xcodeproj/xcuserdata/corpsele_n.xcuserdatad
CLSDKTestSwift/CLSDKTestSwift.xcodeproj/xcuserdata
CLSDKTest_OC/CLSDKTest_OC.xcodeproj/xcuserdata
CLSDKTest_OC/Pods/Pods.xcodeproj/xcuserdata
Podfile.lock
Podfile
Pods
CLSDK.xcworkspace/xcuserdata/corpsele_n.xcuserdatad

